@import url("https://fonts.googleapis.com/css?family=Lobster|Raleway:300,400,500");
* {
  margin: 0; }

*,
*:before, *:after {
  box-sizing: border-box; }

html {
  height: 100vh;
  font-family: 'raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.88;
  color: #a09ea2;
  overflow: hidden; }

html, body {
  padding: 0;
  margin: 0; }

body {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

input:focus, textarea, select, a, button {
  outline: none; }

.curve-container {
  background-color: #f7f8fc;
  height: 50%;
  position: relative;
  overflow: hidden;
  z-index: -2; }

.curve {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  top: -50%;
  bottom: 53%;
  border-radius: 0 0 100% 100%;
  z-index: -1; }

.center {
  margin: 0 auto; }

.container {
  max-width: 1400px;
  height: 50%;
  margin: 30px auto; }

header {
  max-width: 500px;
  text-align: center;
  padding: 20px 0; }

header h2 {
  color: #36434d;
  font-size: 1.85em; }

header p {
  max-width: 400px;
  text-align: center;
  padding: 10px 0 0 0;
  line-height: 1.5; }

.billing-type {
  max-width: 250px;
  padding: 40px 0; }

.billing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding-left: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none; }

.billing-list .selected {
  color: #2b9cf2;
  font-weight: 700;
  font-size: 0.825em; }

.billing {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.75em;
  cursor: pointer; }

.billing-plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 385px;
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid blue;
  min-height: 600px;
  padding: 50px 50px 100px 50px;
  background: #fff;
  border: 1px solid #E0E7ED;
  border-radius: 6px;
  position: relative;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  margin-top: 30px;
  z-index: 1; }

.plan-header {
  font-family: 'Lobster';
  color: #555;
  font-size: 2em;
  padding: 20px 0;
  text-transform: capitalize; }

.plan-description {
  text-align: center;
  line-height: 1.5;
  font-size: .90em;
  padding-bottom: 50px; }

.plan-cost {
  padding-bottom: 40px;
  position: relative;
  min-width: 150px;
  text-align: center; }

.plan-cost .symbol {
  font-size: .95em;
  position: absolute;
  left: 0; }

.plan-cost .price {
  font-weight: 300; }

.plan-cost .price .amount {
  font-size: 1.85em;
  padding: 0 2px;
  font-weight: 500;
  color: #2b9cf2; }

.plan-details {
  max-height: 250px;
  height: auto; }

.details-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-weight: 300;
  text-transform: capitalize;
  padding: 0; }

.details-list .detail {
  padding: 10px 60px;
  position: relative;
  font-size: .85em; }

.details-list .detail:before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #2b9cf2;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: 13px; }

.choose-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  min-height: 48px;
  border-radius: 0 0 6px 6px; }

.choose {
  width: 100%;
  cursor: pointer;
  height: 48px;
  border: none;
  background: #E0E7ED;
  color: #fff;
  border-radius: 0 0 6px 6px;
  font-size: .75em; }

.active-start,
.active {
  box-shadow: 0 0 40px rgba(54, 67, 77, 0.2);
  z-index: 2;
  -webkit-transform: scale(1.02) translateY(-1%);
          transform: scale(1.02) translateY(-1%); }
  .active-start .plan-header,
  .active .plan-header {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .active-start .choose,
  .active .choose {
    background: #2b9cf2;
    font-size: .85em; }

@media only screen and (max-width: 498px) {
  header h2 {
    font-size: 1.5em; } }

.plan {
  width: 270px; }

@media only screen and (min-width: 499px) and (max-width: 900px) {
  .billing-plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 40px; }
  .plan {
    width: 80%; } }
